<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
      <label for="hero-name">Hero name: </label>
      <input id="hero-name" [(ngModel)]="hero.name" placeholder="Hero name"/>
    </div>
    <div>
        <label for="hero-score">score: </label>
        <input id="hero-score" [(ngModel)]="hero.score" placeholder="score"/>
      </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
  </div>